.App {
  text-align: center;
  display: flex;
  justify-content: center;
}


textarea{
  width: 700px;
  height: 300px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0, 0.4);
  padding: 30px;
}
h3, h4{
  margin-top: 40px;
}

#preview{
  margin: 50px auto 50px auto;
  width: 1000px;
  height: auto;
  border: 1px solid rgba(0,0,0, 0.2);
  padding: 10px;
  border-radius: 5px;
}